[*.cs]

# PH2028: Copyright Present
dotnet_diagnostic.PH2028.severity = none

# PH2006: Namespace matches File Path
dotnet_diagnostic.PH2006.severity = none

# PH 2071: change default token count for code duplication detection
dotnet_code_quality.PH2071.token_count = 100

# PH2079: Specify the namespace prefix in the .editorconfig file
dotnet_code_quality.PH2079.namespace_prefix = Philips.EDI.Foundation

# PH2019: TestCleanup methods not allowed
dotnet_diagnostic.PH2019.severity = none

# PH2016: TestInitialize methods not allowed
dotnet_diagnostic.PH2016.severity = none

dotnet_code_quality.PH2015.allowed_test_categories = TestCategory.GatedSanity,TestCategory.Nightly,TestCategory.PostDeployment,TestCategory.WithoutMultitenancy,TestCategory.MultitenancyWithOrgNameAsSubdomain,TestCategory.MultitenancyWithOrgIdInHeader

